*,
:before,
:after {
  box-sizing: broder-box;
  padding: 0;
  margin: 0;

}


body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: rgb(160, 200, 230);
}

#heading {
  font-size: 1.2rem;
  background-color: #f6f697;
  /* margin-bottom: 0.8rem; */
}

#input-feild {
  resize: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 3px #bbb,
  0 0 7px #bbb;
  margin: 10px;
  padding: 6px 0 0 6px
}

#input-feild::placeholder {
  font-size: 11px;
}

#input-feild:focus {
  outline: none;
}

#character-count {
  font-weight: bold;
  font-size: 0.7rem;
}